.inputSingleLine {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 40px 0px;
}
.inputSingleLine p {
  margin: 0px;
  padding: 0px;
  margin-right: 20px;
}
.inputSingleLine button {
  margin-left: 20px;
  width: 100px;
}
.inputBox {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px 20px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
.inputBox:focus {
  outline: none;
  background-color: #ddd;
}
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  overflow-x: hidden;
  padding-top: 25px;
}

.sidenav a {
  padding: 6px 8px 16px 36px;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  border-bottom: 0.3px solid rgba(255, 255, 255, 0.9);
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 20px 10px;
}

.addExpenseButton {
  margin-left: 10px;
  margin-top: 20px;
  padding: 10px 40px !important;
  background-color: #045de9 !important;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  border-radius: 4px !important;
  font-weight: bold !important;
  border: none !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.ListStyle {
  overflow-x: auto;
  height: 440px;
  width: 800px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {
}
